<nz-card nzTitle="{{ 'Bản nhận xét' }}">

  <div class="w-full mb-3">
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-6 gap-5">

      <nz-input-group nzSearch>
        <input type="text" nz-input class="w-full" placeholder="Tìm kiếm" (keyup.enter)="search()"
               [(ngModel)]="keySearch"/>
      </nz-input-group>

      <nz-date-picker nzMode="month" class="w-full" [(ngModel)]="date"></nz-date-picker>

      <nz-select [(ngModel)]="groupId" class="w-full">
        <nz-option nzValue="" nzLabel="Tất cả"></nz-option>
        <nz-option *ngFor="let item of teacherGroups" nzValue="{{item.id}}" nzLabel="{{item.name}}"></nz-option>
      </nz-select>

      <button nz-button nzType="primary" class="w-full" (click)="search();" nzSearch>
        Tìm kiếm
        <span nz-icon nzType="search"></span>
      </button>

      <button nz-button nzType="dashed" class="w-full" (click)="search();getTeacherGroups();">
        Làm mới
      </button>

      <button nz-button nzType="primary" class="w-full" (click)="download()">
        Tải danh sách
      </button>
    </div>
  </div>

  <div class="block md:hidden">
    <div class="mt-2 space-y-2">
      <div class=""
           *ngFor="let invoice of listTable.data; let i = index"
      >
        <div class="py-2 px-3 bg-gray-200 rounded-md">
          <div class="font-medium text-gray-900 py-1">STT: {{ i + 1 }}</div>
          <div class="text-sm text-gray-500 py-1">Tháng/Năm:  {{invoice?.month}} / {{invoice?.year}}</div>
          <div class="text-sm text-gray-500 py-1">Giáo viên: {{invoice?.teacher?.name}}</div>
          <div class="text-sm text-gray-500 py-1">Ngày tạo:  {{invoice?.createdDate | date: 'dd/MM/yyyy hh:mm a'}}</div>
          <div class="text-sm text-gray-500 py-1">Tiêu chí:  {{invoice?.createdDate | date: 'dd/MM/yyyy hh:mm a'}}</div>
          <div class="text-sm text-gray-500 py-1">Mô tả: {{ invoice?.description }}</div>
          <div>
            <table class="w-full">
              <tr>
                <th class="w-3/5">Tiêu chí</th>
                <th class="w-1/5">Đơn vị</th>
                <th class="w-1/5">Giá trị</th>
              </tr>
              <tr *ngFor="let item of  invoice.assessmentCriterias; index as i">
                <td class="w-3/5 font-normal text-center">{{item?.name}}</td>
                <td class="w-1/5 font-normal text-center">{{item?.unit}}</td>
                <td class="w-1/5 font-normal text-center">{{ item?.value}}</td>
              </tr>
            </table>

          </div>
          <div class="text-sm text-gray-500 py-1">Tổng giá trị: {{ invoice?.totalScore }}</div>
          <div class="text-sm text-gray-500 py-1">Xếp loại: {{ invoice?.competitiveRanking }}</div>

          <div class="text-sm text-gray-500 py-1">
            <button *ngIf="checkLeader()"
                    nz-button
                    nzType="default"
                    nzShape="round"
                    (click)="sendTransportMessage(invoice, 'admin/self-assessment-update')"
            >
              Cập nhật
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hidden md:block">
    <nz-table
      #listTable
      [nzData]="data"
      nzTableLayout="fixed"
      nzBordered
      class="w-full flex flex-col sm:flex-row"
    >
      <thead>
      <tr>
        <th class="w-16">STT</th>
        <th class="">Tháng/Năm</th>
        <th class="">Giáo viên</th>
        <th class="">Ngày tạo</th>
        <th class="">Tiêu chí</th>
        <th class="">Đơn vị</th>
        <th class="">Giá trị</th>
        <th class="">Tổng giá trị</th>
        <th class="">Xếp loại</th>
        <th class="">Mô tả</th>
        <th class=""></th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let invoice of listTable.data; index as j">
        <tr class=" "
            *ngFor="let item of  invoice.assessmentCriterias; index as i">
          <td class="w-10 p-1 font-normal text-center" [attr.rowspan]="invoice?.assessmentCriterias?.length"
              [style.display]="i === 0 ?'':'none'">
            {{j + 1}}
          </td>
          <td class="font-normal text-center" [attr.rowspan]="invoice?.assessmentCriterias.length"
              [style.display]="i === 0 ?'':'none'">
            {{invoice?.month}} / {{invoice?.year}}
          </td>
          <td class="font-bold text-center" [attr.rowspan]="invoice?.assessmentCriterias.length"
              [style.display]="i === 0 ?'':'none'">
            {{invoice?.teacher?.name}}
          </td>
          <td class="font-normal text-center" [attr.rowspan]="invoice?.assessmentCriterias?.length"
              [style.display]="i === 0 ?'':'none'">
            {{invoice?.createdDate | date: 'dd/MM/yyyy hh:mm a'}}
          </td>
          <td class="font-normal text-center">{{item?.name}}</td>
          <td class="font-normal text-center">{{item?.unit}}</td>
          <td class="font-normal text-center">{{item?.value}}</td>

          <td class="font-normal text-center" [attr.rowspan]="invoice?.assessmentCriterias.length"
              [style.display]="i === 0 ?'':'none'">
            {{invoice?.totalScore}}
          </td>
          <td class="font-normal text-center" [attr.rowspan]="invoice?.assessmentCriterias.length"
              [style.display]="i === 0 ?'':'none'">
            {{invoice?.competitiveRanking}}
          </td>
          <td class="font-normal text-center" [attr.rowspan]="invoice?.assessmentCriterias.length"
              [style.display]="i === 0 ?'':'none'">
            {{invoice?.description}}
          </td>
          <td class="font-normal text-center" [attr.rowspan]="invoice?.assessmentCriterias.length"
              [style.display]="i === 0 ?'':'none'">
            <button *ngIf="checkLeader()"
                    nz-button
                    nzType="default"
                    nzShape="round"
                    (click)="sendTransportMessage(invoice, 'admin/self-assessment-update')"
            >
              Cập nhật
            </button>
          </td>

        </tr>
      </ng-container>
      </tbody>
    </nz-table>
  </div>
  <!--  {{teacherGroups | json}}-->
</nz-card>
