<nz-card nzTitle="{{'KHAI BÁO THÁNG' + ' ' + currentMonth}}">
    <p style="font-size:14px;color:rgba(0, 0, 0, 0.85);margin-bottom:16px;font-weight: 500;"> Khai báo thông tin đánh
        giá trong tháng</p>


    <ul nz-list [nzDataSource]="createdSelfCriticism.assessmentCriterias" nzBordered nzSize="large">
        <nz-list-header>
            <div class="flex">
                <div class="flex-1">Nội dung công việc đã làm</div>
                <div class="justify-end items-end">
                    <button nz-button nzType="primary" nzSize="large" nzShape="round" (click)="addAssessmentToList()">
                        + Khai báo
                    </button>
                </div>
            </div>
        </nz-list-header>
        <li nz-list-item *ngFor="let item of createdSelfCriticism.assessmentCriterias; let i = index">

            <div class="flex flex-col flex-1 gap-4">
                <div class="sm:grid sm:grid-cols-1 md:grid md:grid-cols-2 flex-1 md:gap-2">
                    <div>
                        <nz-select class="max-w-50%"
                                   [(ngModel)]="selectedAssessmentCriteriaGroup[i]"
                                   nzPlaceHolder="Chọn nhóm tiêu chí đánh giá"
                                   (ngModelChange)="selectChangeAssessmentCriteriaGroup($event, i)">
                            >
                            <nz-option *ngFor="let assessmentCriteriaGroup of assessmentCriteriaGroups"
                                       [nzValue]="assessmentCriteriaGroup"
                                       [nzLabel]="assessmentCriteriaGroup.name"></nz-option>
                        </nz-select>
                    </div>
                    <div>
                        <nz-select class="max-w-50%" nzPlaceHolder="Chọn tiêu chí đánh giá"
                                   [(ngModel)]="selectedAssessmentCriteria[i]"
                                   (ngModelChange)="changeValueOfIndexAssessment($event, i)">
                            <nz-option *ngFor="let assessment of assessmentCriteria1[i]"
                                       [nzValue]="assessment" [nzLabel]="assessment.name"></nz-option>
                        </nz-select>
                    </div>
                </div>
                <div>
                    <input nz-input placeholder="Mô tả thêm" [(ngModel)]="selectedAssessmentCriteria[i].description"/>
                </div>
                <div>
                    <button nz-button nzType="default" nzDanger (click)="removeAssessment(i)">Xóa</button>
                </div>
            </div>


        </li>
        <nz-list-footer>Tổng điểm: {{total}}</nz-list-footer>
    </ul>

    <nz-divider nzType="vertical"></nz-divider>

    <div style="text-align: end">
        <button nz-button nzType="dashed" nzSize="large" nzShape="round"
                (click)="createSelfCriticism(createdSelfCriticism)">
            Lưu bản ghi
        </button>
    </div>
</nz-card>

