<nz-card nzTitle="{{ 'PHÂN TỔ GIÁO VIÊN' }}">
  <div class="bg-white rounded mt-4 p-2">
    <div>
      <div class="flex justify-end pb-3">
        <div class="flex justify-end items-end">
          <div>
            <nz-date-picker nzMode="month" [(ngModel)]="date"></nz-date-picker>
          </div>

          <div>
            <button
              nz-button
              nzType="primary"
              class="text-right flex-1"
              (click)="download()"
            >
              Tải danh sách thi đua
            </button>
          </div>

        </div>
      </div>
      <div>
        <div class="flex mb-4 gap-5">
          <div class="flex flex-col w-1/2 md:w-1/3 lg:w-1/5 xl:w-1/6 justify-between">
            <div>
              <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input type="text" nz-input placeholder="Tìm kiếm" (keyup.enter)="searchName()" [(ngModel)]="nameSearch" />
              </nz-input-group>
              <ng-template #suffixIconButton>
                <button nz-button nzType="primary" (click)="searchName()" nzSearch><span nz-icon nzType="search"></span></button>
              </ng-template>
            </div>
          </div>
          <div class="flex-grow"></div>
          <div class="flex justify-end gap-2">
            <button nz-button nzType="default" (click)="getTeacherGroups();getTeachersBySchool();">
              Làm mới
            </button>
            <button nz-button nzType="primary" (click)="openCreateUpdateDialog(true)">
              Thêm mới
            </button>
          </div>
        </div>
      </div>
      <div>

        <div class="block sm:hidden">
          <div class="mt-2 space-y-2">
            <div
              *ngFor="let teacherGroup of teacherGroups; let i = index">
              <div class="py-2 px-3 bg-gray-200 rounded-md">
                <div class="font-medium text-gray-900"> STT: {{ i + 1}}</div>
                <div class="text-sm text-gray-500"> Tên tổ: {{ teacherGroup.name }}</div>
                <div class="text-sm text-gray-500"> Tổng giáo viên: {{ teacherGroup.totalMember }}</div>
                <div class="text-sm text-gray-500"> Điểm kỳ 1: {{ teacherGroup.period1Score }}</div>
                <div class="text-sm text-gray-500"> Điểm kỳ 2: {{ teacherGroup.period2Score }}</div>
                <div class="text-sm text-gray-500"> Năm: {{ teacherGroup.yearScore }}</div>
                <div class="text-sm text-gray-500">Mô tả: {{ teacherGroup.description }}</div>
                <div class="text-sm text-gray-500 py-1">
                  <button nz-button nzType="primary" nzShape="round"
                          (click)="openCreateUpdateDialog(false, teacherGroup)"
                  >Sửa
                  </button>
                  <a nz-button
                     nzType="link"
                     (click)="openDeleteDialog(teacherGroup)"
                  >Xóa</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="hidden sm:block">
          <nz-table [nzData]="teacherGroups" nzTableLayout="fixed" class="w-full flex flex-col sm:flex-row">
            <thead>
            <tr>
              <th class=" header-center">STT</th>
              <th class=" header-center">Tên tổ</th>
              <th class=" header-center">Tổng giáo viên</th>
              <th class=" header-center">Điểm kỳ 1</th>
              <th class=" header-center">Điểm kỳ 2</th>
              <th class=" header-center">Năm</th>
              <th class=" header-center">Mô tả</th>
              <th class=" header-center">Tác vụ</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let teacherGroup of teacherGroups; let i = index">
              <td >{{ i + 1 }}</td>
              <td >{{ teacherGroup.name }}</td>
              <td >{{ teacherGroup.totalMember }}</td>
              <td >{{ teacherGroup.period1Score }}</td>
              <td >{{ teacherGroup.period2Score }}</td>
              <td >{{ teacherGroup.yearScore }}</td>
              <td >{{ teacherGroup.description }}</td>
              <td >
                <div class="text-sm text-gray-500 py-1">
                  <button nz-button nzType="primary" nzShape="round"
                          (click)="openCreateUpdateDialog(false, teacherGroup)"
                  >Sửa
                  </button>
                  <a nz-button
                     nzType="link"
                     (click)="openDeleteDialog(teacherGroup)"
                  >Xóa</a>
                </div>
              </td>
            </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>

  </div>
</nz-card>


<nz-modal [(nzVisible)]="isVisibleCreateUpdate" nzTitle="{{isCreate ? 'Thêm mới thông tin tổ' : 'Cập nhật thông tin tổ'}}"
          [nzFooter]="null" centered (nzOnCancel)="handleCancelCreateUpdate()">

  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Tên tổ</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Tên tổ không được để trống!">
          <input nz-input formControlName="name" id="name"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="teacherIds">Giáo viên</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-select formControlName="teacherIds" id="teacherIds" nzMode="multiple" nzPlaceHolder="Chọn giáo viên"
                     [nzOptions]="listShowTeacher"></nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="leaderId">Giáo viên</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-select formControlName="leaderId" id="leaderId" nzPlaceHolder="Chọn tổ trưởng"
                     [nzOptions]="listShowTeacher"></nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="period1Score">Điểm kỳ 1</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Điểm kỳ 1 không được để trống!">
          <input type="number" nz-input formControlName="period1Score" id="period1Score"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="period2Score">Điểm kỳ 2</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Điểm kỳ 2 không được để trống!">
          <input type="number" nz-input formControlName="period2Score" id="period2Score"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="yearScore">Năm</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Năm không được để trống!">
          <input type="number" nz-input formControlName="yearScore" id="yearScore"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description">Mô tả</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="description" id="description"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary" (click)="submit()">Xác nhận</button>
        </nz-form-control>

      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleDelete"
  nzTitle="Xóa thông tin tổ"
  (nzOnCancel)="handleCancelDelete()"
  (nzOnOk)="confirmDelete()"
  [nzOkLoading]="isDeleteLoading"
>
  <p *nzModalContent>Bạn chắc chắn muốn xóa thông tin tổ: <strong>{{nameDelete}}</strong> </p>
</nz-modal>

