<nz-card nzTitle="{{ 'Quản lý tài liệu' }}">
  <div class="w-full flex mb-3">
    <div class="basis-1/2">
      <div>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" nz-input placeholder="Tìm kiếm" (keyup.enter)="search()" [(ngModel)]="keySearch" />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" (click)="search()" nzSearch><span nz-icon nzType="search"></span></button>
        </ng-template>
      </div>
    </div>
    <div class="basis-1/2 text-right">
      <button
        nz-button
        nzType="dashed"
        class="text-right flex-1 mr-3"
        (click)="getCriteriaGroup()"
      >
        Làm mới
      </button>
      <button
        nz-button
        nzType="primary"
        class="text-right flex-1"
        (click)="showModelCriteriaGroup()"
      >
        Thêm
      </button>
    </div>
  </div>

  <div class="block sm:hidden">
    <div class="mt-2 space-y-2">
      <div class=""
           *ngFor="let data of listTable.data; let i = index"
      >
        <div class="py-2 px-3 bg-gray-200 rounded-md">
          <div class="font-medium text-gray-900 py-1">STT: {{ i + 1 }}</div>
          <div class="text-sm text-gray-500 py-1">Tên tài liệu: {{ data?.name }}</div>
          <div class="text-sm text-gray-500 py-1">
            Mô tả: {{ data?.description }}
          </div>

          <div class="text-sm text-gray-500 py-1">
            <button nz-button nzType="primary" nzShape="round"
                    (click)="showModelCriteriaGroup(data?.id)"
            >Sửa
            </button>
            <!--            <button nz-button nzType="dashed" nzShape="round">Xem</button>-->
            <a nz-button
               nzType="link"
               nzShape="round" nz-popconfirm nzPopconfirmTitle="Bạn chắc chắn xoá?"
               (nzOnConfirm)="removeCriteriaGroup(data.id)">Xóa</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hidden sm:block">
    <nz-table
      #listTable
      [nzData]="criteriaGroups"
      nzTableLayout="fixed"
      class="w-full flex flex-col sm:flex-row"
    >
      <thead>
      <tr>
        <th class="w-20">STT</th>
        <th class="w-7/12">Tên tài liệu</th>
        <th class="w-2/12">Ngày tạo</th>
        <th class="w-1/12">Mô tả</th>
        <th class="w-2/12"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of listTable.data; let i = index">
        <td class="w-20">{{ i + 1 }}</td>
        <td class="w-7/12">{{ data?.name }}</td>
        <td class="w-2/12">{{ data?.createdDate | date: "dd-MM-yyyy" }}</td>
        <td class="w-1/12">{{ data?.description }}</td>
        <td  class="w-2/12">
          <button
            nz-button
            nzType="primary"
            nzShape="round"
            (click)="showModelCriteriaGroup(data?.id)"
          >
            Sửa
          </button>
          <button
            nz-button
            nzType="primary"
            nzShape="round"
            (click)="showModelCriteriaGroup(data?.id)"
          >
            Tải về
          </button>
          <!--          <button nz-button nzType="dashed" nzShape="round">Xem</button>-->

          <a nz-button
             nzType="link"
             nzShape="round" nz-popconfirm nzPopconfirmTitle="Bạn chắc chắn xoá ?"
             (nzOnConfirm)="removeCriteriaGroup(data.id)">Xóa</a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>

  <!--  {{teacherGroups | json}}-->
</nz-card>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="{{ isCreate == true ? 'Tạo nhóm tiêu chí' : 'Cập nhật nhóm tiêu chí' }}"
  [nzFooter]="null"
  (nzOnCancel)="handleCancel()"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm"
          (ngSubmit)="submitForm();isCreate == true ? postCriteriaGroups() : putCriteriaGroups()">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="name">Tên nhóm tiêu chí</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="Vui lòng nhập thông tin">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="name" id="name" placeholder="Tên nhóm tiêu chí" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="description">Mô tả</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="Vui lòng nhập thông tin">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="description" id="description" placeholder="Nhập thông tin" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <button nz-button class="float-end" [nzType]="'primary'">
        {{ isCreate == true ? 'Tạo' : 'Cập nhật' }}
      </button>
    </form>
  </ng-container>
</nz-modal>
